.works{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    padding-top: 50px;
    margin: 0 auto;
}

.response{
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
    font-size: xx-large;
    padding-top: 50px;
}